/FabricNetwork/chaincode-external
/FabricNetwork/fabric-samples
/FabricNetwork/Dealer/Admin
/FabricNetwork/Dealer/bootstrapAdmin
/FabricNetwork/Dealer/CA-server
/FabricNetwork/Dealer/Peer
/FabricNetwork/Supplier/Admin
/FabricNetwork/Supplier/bootstrapAdmin
/FabricNetwork/Supplier/CA-server
/FabricNetwork/Supplier/Peer
/FabricNetwork/Manufactorer/Admin
/FabricNetwork/Manufactorer/bootstrapAdmin
/FabricNetwork/Manufactorer/CA-server
/FabricNetwork/Manufactorer/Peer
/FabricNetwork/Manufactorer/Orderer1
/FabricNetwork/Manufactorer/Orderer2
/FabricNetwork/Manufactorer/Orderer3
/FabricNetwork/mychannel.block